div(class="cs3-wrapper")
            
            div(class="cs3-carousel")
                form(class="slide-container" method="post" action="./")

                    // NB: input name attribute must all have same name to be mutually exclusive.
                    - var slides = ['hawaii-1', 'hawaii-2', 'hawaii-3', 'hawaii-4', 'hawaii-5', 'autumn']
                    - var sl_count = slides.length
                    each slide_url, index in slides
                        fieldset(class="slide")
                            input(type="radio" name="slide-select" class="slide-selector" id="slide-0#{index}" checked=index==0 ? true : false)
                            label(for="slide-0#{index}" class="slide-selector-indicator")
                            figure(class="slide-#{index} slide-content")
                                label(for="slide-0#{(slide_no = index == 0 ? (sl_count - 1) : index - 1)}" class="prev") &#x2039
                                img(src="./images/#{slide_url}.jpg")
                                label(for="slide-0#{(slide_no = index == (sl_count - 1) ? 0 : index + 1)}" class="next") &#x203a
